* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container-70 {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}

.gray {
    color: #808080;
}

/* header */
header {
    height: 600px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-position: 105% bottom;
    background-size: 60%;
    background-repeat: no-repeat;
}
.header-nav {
    height: 80px;
    line-height: 80px;
}
.header-logo {
    width: 15%;
    height: 100%;
    vertical-align: middle;
}
.header-logo img {
    vertical-align: middle;
}

.nav-left {
    width: 45%;
    text-align: left;
}
.nav-right {
    width: 40%;
    text-align: right;
}

.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding: 0 10px;
}
.list-inline a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}
.list-inline a:hover {
    color: #7cbb02;
}
a.btn.btn-green:hover {
    color: #0c325a;
}

/* bottoni */
.btn {
    border-radius: 10px;
    padding:10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-blue {
    background-color: #0c325a ;
    border: 1px solid white;
}
.btn-green {
    background-color:  #7cbb02;
    border: 1px solid #7cbb02;
}
.btn-green:hover {
    color: #0c325a;
}
.jumbotron {
    position: relative;
    height: 520px;
}
.jumbotron img {
    max-height: 520px;
    position: right bottom;
}
.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: white;
}
.jumbotron a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 20px;
}
h1 {
    font-size: 50px;
    width: 60%;
    margin-bottom: 50px;
}

/* blocco grigio */
.section-gray {
    height: 100%;
    padding: 45px;
    background-color: #d3d3d3;
    text-align: center;
}
.section-gray h2 {
    padding-bottom: 10px;
    font-size: 28px;
}

/* sezione a tre colonne */
.aside {
    height: 100%;
    width: 30%;
    margin: 1%;
    text-align: center;
    /* background-color: red; */
}

.image {
    height: 180px;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.aside-left {
    background-image: url(../img/profile.svg);
}
.aside-center {
    background-image: url(../img/computer.svg);
}
.aside-right {
    background-image: url(../img/doc.svg);
}

.aside h2 {
    padding: 39px;
    font-size: 28px;
    color: #7cbb02;
}
.aside p {
    padding: 30px;
    line-height: 25px;
}

#hr-aside {
    width: 25%;
    margin: auto;
    color:  #808080 ;
}

/* sezione a due colonne immagine e testo */
.article-image {
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    /* background-image: url(../img/mountain.svg); */
}

.left-img {
    height: 400px;
    margin-top: 50px;
    background-image: url(../img/mountain.svg);
    background-repeat: no-repeat;

}

.article-right {
    height: 600px;
    width: 50%;
    padding-top: 100px;
    padding-right: 150px;
    /* background-color: blue; */
}

.article-right h2 {
    font-size: 35px;
    padding-bottom: 20px;
}
.article-right p {
    line-height: 25px;
    padding-bottom: 50px;
}

/* footer */
.middle-gray {
    position: relative;
    height: 150px;
    background-color: #d3d3d3;
}

/* #title-footer { position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
} */
.line-height150 {
    line-height: 150px;
}

.middle-gray h2 {
    width: 55%;
}

.middle-gray p {
    width: 45%;
    font-weight: 700;
}

span.underline {
    text-decoration: underline;
    padding: 10px;
    word-spacing: 60px;
}

.btn-bottom {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50%,-50%);
}

/* label {
    padding: 30px;
    color: #808080;
    font-weight: bold;
} */

/* .level-list {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%)
}

.standard-select {
    width: 135px;
    border: none;
    background: none;
    color: #808080;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: underline;    
}

.standard-select select {
    display: none; /*hide original SELECT element:
} */

/* seconda sezione a due colonne */
.height480 { 
    height: 480px;
}
.left-img2 {
    background-image: url(../img-bonus/shakehands.svg);
    height: 260px;
}

.btn-section2 {
    padding: 20px;
}

#after-bottom {
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
    line-height: 20px;
    vertical-align: middle;
}

/*sezione con un immagine al centro e testo sotto*/
.computer-set {
    height: 300px;
    margin: 80px 0 30px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img-bonus/set.svg);
}

.computer {
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}
.computer h2,
.computer p,
.computer a,
.computer h5 {
    padding: 10px 0;
}
.computer h5 {
    font-size: 12px;
}
.computer p {
    font-size: 20px;
}
.computer a {
    color: #bac5cb;
}
.computer span {
    color: #7cbb02; ;
}


/* sezione blu alta*/
.blu-banner {
    height: 400px;
    background-color: #0c325a ;
}
.text-left {
    width: 23%;
    position: absolute;
    top: 0;
    left: 0%;
    transform: translate(50%, 30%);
}
.text-left h2 {
    color: white;
    line-height: 35px;
    padding-bottom: 30px;
}
.text-left p {
    padding-bottom: 30px;
    line-height: 25px;
}

.help {
    position: fixed;
    bottom: 0;
    right: 25%;
    border-radius: 10px 10px 0 0;
    z-index: 2;  
}